<%= form_with(model: pricing_form, local: true) do |form| %>
  <% if pricing_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pricing_form.errors.count, "error") %> prohibited this pricing_form from being saved:</h2>

      <ul>
      <% pricing_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Product_id %>
    <%= form.collection_select :Product_id, Product.all, :id, :name%>
  </div>

  <div class="field">
    <%= form.label :Vendor_id %>
    <%= form.collection_select :Vendor_id, Vendor.all, :id, :name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
