<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @pricing_form.Product.name %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @pricing_form.Vendor.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pricing_form.price%>
</p>


<%= link_to 'Edit', edit_pricing_form_path(@pricing_form) %> |
<%= link_to 'Back', pricing_forms_path %>
